 *{
      padding: 0;
      margin: 0;
      font-family: 'Times New Roman', Times, serif;
      box-sizing: border-box;
      scroll-behavior: smooth;
    }
    
    body{
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(160deg, rgba(255, 0, 0, 0.316), rgba(0, 0, 255, 0.365), rgba(0, 128, 0, 0.438));
    }
    .main-container{
      width:360px;
      background:linear-gradient(180deg,#eef2f6,#fff);
      border-radius:18px;
      box-shadow:0 10px 30px rgba(16,24,40,0.12);
      overflow:hidden;
      border:1px solid rgba(2,6,23,0.06);
     
    }
    .bank-name {
      width:360px;
      text-align: center;
      font-size: 2rem;
      /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color: #2563eb;
      font-weight: 1000;
      margin-bottom: .6rem;
      letter-spacing: 1px;
      background-image: linear-gradient(130deg, rgb(30, 40, 231) 80% , rgb(26, 25, 25) 15%);
      /* background-image: radial-gradient(120deg, blue, red); */
      background-clip: text;
      color:transparent;
    }
    /* Top screen */
    .screen-area{
        padding:1.4rem;
        border-bottom:1px solid rgba(2,6,23,0.06);background:linear-gradient(180deg,#111827 0%, rgba(17,24,39,0.02) 100%);
        color:white;
        }

    .screen-area .screen-inner{
      background:linear-gradient(180deg,#0b1220, #0f1724);border-radius:10px;
        padding:1rem;
        min-height:140px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:.6rem;
    }
    .screen-area h2{
      margin:0;
      font-size:1.1rem;
      letter-spacing:.2px;
    }
    .screen-inner p{
      margin:0;
        color:#6b7280;;
        font-size:.85rem;  
    }
    .screen-inner input{
        width:100%;
        padding:.6rem;
        border-radius:8px;
        border:1px solid rgba(255,255,255,0.08);background:transparent;
        color:white;    
        font-size:1rem;
        }
        .screen-inner button{
          margin-top:.5rem;
        padding:.55rem .8rem;
        border-radius:8px;
        border:none;
        background:#2563eb;;
        color:white;
        font-weight:600;
        cursor:pointer;
        }
        .muted{
        color:#6b7280;
        font-size:0.85rem;
        }

        /* process-icon */
         #process-icon{
          padding:1.4rem;
        border-bottom:1px solid rgb(224, 225, 232);background:linear-gradient(180deg,#a2c0ff 0%, rgba(17,24,39,0.02) 100%);
        color:white;
        /* animation: */
        }
        #process-icon .circle{
          height: 1.5rem;
          width :1.5rem;
          border: 2px solid rgba(255, 255, 255, 0.417);
          /* background:linear-gradient(180deg,#a2c0ff 0%, rgba(32, 58, 114, 0.975) 100%); */
          border-bottom:2px solid  rgb(104, 118, 225);
        color:white;
        border-radius:50%;
        animation: icon-rotate 1s linear infinite;
        }

        @keyframes icon-rotate  {
          /* 0%{
            border-bottom:2px solid  rgb(36, 57, 214);
            transform: rotateZ(360deg);
          } */
          100%{
            border-bottom:2px solid  rgb(36, 57, 214);
            transform: rotateZ(360deg);
          }
        }
        
        /* MINI STATEMENT SCREEN */
#screen-mini {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #f1f2f1;
}

.mini-box {
  width: 85%;
  margin: auto;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 12px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.mini-list p {
  background: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
  border-left: 5px solid #4caf50;
}

.btn-back {
  margin-top: 20px;
  padding: 10px 25px;
  background: #1b5e20;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-back:hover {
  background: #145015;
}



        /* side buttons */
    .sides{
        display:flex;
        justify-content:space-between;
        padding:.9rem;
        }
    .side-col{
        display:flex;
        flex-direction:column;
        gap:.0rem;
        }
        .side-btn{
          margin-bottom: 1rem;
          cursor: pointer;
          border: none;
          /* border-radius: 5px; */
          background-color: transparent;

        }
        .side-btn img{
          width: 2rem;
          height: 2rem;
          /* background-color: #06b6d4; */
          border: 2px solid rgb(139, 136, 136);
          border-radius: 5px;
          padding: 0.1rem 0.1rem;
        }
        .side-btn span{
          color: darkblue;

        }
        /* .side-btn span{
          position:absolute;
          left: 5rem;
          border: 1px solid black;
          border-radius: 10px;
          background-color: black;
          color: lightpink;
          padding: 0.5rem;
        } */
        /* .hide{
          display: none;
        } */

        
    /* .side-btn{
        width:44px;
        height:36px;
        border-radius:8px;
        background:linear-gradient(180deg,#d9dbde,#eef2ff);border:1px solid rgba(2,6,23,0.04);
        box-shadow:inset 0 -2px 0 rgba(0,0,0,0.03);cursor:pointer;
        }
        .side-btn:hover{
          background:linear-gradient(180deg,#a6a8abbd,#bbc7efc2);border:1px solid rgba(2,6,23,0.04);
        box-shadow:inset 0 -2px 0 rgba(0,0,0,0.03);cursor:pointer;
         
        }
        */
        /* card indicator and bottom */
    .card-slot{
        display:flex;
        align-items:center;
        justify-content:center;
        padding:.85rem;
        border-top:1px dashed rgba(2,6,23,0.04);
        }
        .indicator{
        width:60%;
        height:12px;
        border-radius:6px;
        background:linear-gradient(90deg,#2563eb,#06b6d4);
        opacity:.9;
        }
        .bottom{
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:.9rem;
        }
        .cash-slot{
        height:40px;
        width:70%;
        background:linear-gradient(180deg,#f8fafc,#eef2ff);border-radius:8px;
        border:1px solid rgba(2,6,23,0.04);
        display:flex;
        align-items:center;
        justify-content:center;
        color:var(--muted)}

        #helpBtn{
        width:44px;
        height:36px;
        border-radius:8px;
        border:none;
        background:#fde68a;
        font-weight:700;
        cursor:pointer;
        }
        
        /* hidden screens - we toggle with .hidden */
    .screen-area  .hidden{
        display:none
        }

        /* menu list */
    .menu{
        display:flex;
        flex-direction:column;
        gap:.6rem;
        width:100%;
        color: black;
    }
    .menu {
      display: none;
    }
    .menu button{
        padding:.6rem;
        border-radius:8px;
        border:1px solid rgba(2,6,23,0.06);
        background:white;
        cursor:pointer;
        }
        /* small helpers */
    .row{
        display:flex;
        gap:.5rem;
    }
    .right{
        margin-left:auto;
    }
    .note{
        font-size:0.8rem;
        color:#6b7280;
    }

    /* footer */
    footer{
      margin-top:0.5rem;
      padding: 1rem;
      width:360px;
      border-bottom:1px solid rgba(2,6,23,0.06);
      background:linear-gradient(180deg,#111827 0%, rgba(17, 24, 39, 0.192) 100%);
      color:white;
      border-radius:18px;
      box-shadow:0 10px 30px rgba(16,24,40,0.12);
      border: 2px solid rgba(2,6,23,0.06);

      display:none;

    }

    /* responsive */
    @media (max-width:420px){
        .atm{  
        width:320px;
        }

    }
